body {
  margin: 0;
  padding: 0;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

header {
  color: #fff;
  display: flex;
  height: 30vh;
  align-items: center;
}

.input-section {
  display: flex;
  height: 30vh;
  align-items: center;
  justify-content: center;
}

.input-container {
  width: 100%;
}

svg {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
}

.input-section {
  display: flex;
  width: 80vw;
  height: 40vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
  box-sizing: border-box;
}

input:focus {
  border: 0px;
}

.btn {
  width: 100%;
  background-color: #f4a753;
  color: #363636;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  font-size: 18px;
}

.images-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.image-container {
  width: 48%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
}

.image-container img {
  width: 100%;
}
